
/* Font */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

:root {
  
  /* Variables */
  --josefinSans: 'Josefin Sans', sans-serif;
  --softRed: hsl(0, 36%, 70%);
}

html {
  height: 100%;
}

* {
  margin: 0;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 1rem;
  box-sizing: border-box;
}

body{
  height: 100%;
  margin-bottom: 5vh;
}

/* logo */

.logo-wrapper {
  padding: 3.4vh;
}

.logo {
  width: auto;
  height: 2.7vh;
  min-height: 29px;
}

/* img */

.img-hero {
  width: 100%;
  max-height: 32vh;
  object-fit: cover;
  object-position: top left;
}

/* comming soon title */

#commingSoonSection {
  margin-top: 8vh;
  padding-bottom: 5vh;
}

.comming-soon {
  font-family: var(--josefinSans);
  letter-spacing: 9px;
  line-height: 1;
  text-align: center;
}

.comming-soon span:first-of-type{
  font-weight: 300;
  color: var(--softRed);
}

.comming-soon span{
  display: block;
  font-size: 2.5rem;
}

/* comming soon text */

.call-to-action {
  margin: auto;
  margin-top: 1.9vh;
  max-width: 90%;
  font-family: var(--josefinSans);
  font-weight: 400;
  font-size: 0.950rem;
  line-height: 1.5;
  text-align: center;
  color: var(--softRed);
}

/* form */

form {
  margin-top: 5vh;
  margin-bottom: 30px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* input */

.email-input {
  width: 80%;
  padding: 13px;
  border: 1px solid hsla(0, 36%, 70%, 0.9);
  border-radius: 50px;
  background: transparent;

  font-family: var(--josefinSans);
  color: var(--softRed);
}

.email-input:focus, .email-input:focus-visible {
  outline: none;
  border: 1px solid hsla(0, 100%, 82%, 0.9);
}

.email-input::after {
  content: "IF";
}

.email-input:invalid {
  border: 1px solid #f58e8e;
}

.email-input:valid {
  border: 1px solid hsla(0, 36%, 70%, 0.9); 
}

/* button */

.submit-button { 
  width: 20%;
  max-width: 100px;
  height:  100%;
  position: absolute;
  right: 10%; /* Position right ever 50% width */
  border: none;
  border-radius: 150px;
  background: linear-gradient(135deg, rgb(248, 191, 191), rgb(238, 140, 140));
  box-shadow:
    0px 0px 6px rgba(238, 140, 140, 0.5),
    0px 0px 48px rgba(248, 191, 191);
}

.submit-button:hover {
  cursor: pointer;
}

.submit-button:active {
  transform: scale(1.01);
  filter: brightness(1.1);
}

/* Error Message */

.error-icon {
  display: none;
  z-index: 1;
}

.errorMessage {
  padding-top: 10px;
  position: absolute;
  top: 100%;
  left: 10%;

  font-family: var(--josefinSans);;
}

/* medias */

@media only screen and (min-width: 680px) {

  .img-hero {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 50%;
    height: 100vh;
    max-height: 100vh;
    object-fit: cover;
    object-position: top left;
  }

  #commingSoonSection {
    max-width: 50%;
  }
}

/* @media only screen and (max-height: 470px) {
  .comming-soon {
    line-height: 1;
  }
}

@media only screen and (max-height: 740px) {

  #commingSoonSection {
    margin-top: 4vh;
  }
   */
  
